body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/712/147/743/snow-snowflakes-ice-icicles-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Bungee';
  text-align: center;
  color: #000000;
}

#olaf {
  position: fixed;
}

footer {
  font-size: 11px;
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
}

footer a {
  text-decoration: none;
  color: #000000;
}